textarea {
    min-height: 400px;
}

/* TODO try to find a way to use no custom CSS */
.list-group-item:hover {
    background-color: whitesmoke;
}

.mail-item-sender {
    font-weight: bold;
    overflow-wrap: break-word;
}
.mail-item-subject {
    overflow-wrap: break-word;
}
.mail-item-timestamp {
    color: grey;
}

#read-view-header-upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#read-view-sender {
    font-weight: bold;
}
#read-view-recipients {
    font-size: 0.875em;
    color: grey;
}
#read-view-timestamp {
    color: grey;
}
#read-view-body {
    white-space: pre-wrap;
}